In [1]:
import pandas as pd

In [2]:
#loading the data
df2016 = pd.read_csv('UIC2016Basketball.csv')
df2016.head()

,Date,Opp,UIC Score,Opp Score,UIC FG,Opp FG,UIC 3P,Opp 3P,UIC TRB,Opp TRB,UIC AST,Opp AST
0,11/13/2015,San Francisco,75,78,28.0,24,8.0,8.0,36,42.0,17.0,15
1,11/17/2015,Western Illinois,57,84,15.0,30,3.0,5.0,40,42.0,6.0,16
2,11/24/2015,Roosevelt,96,58,35.0,22,1.0,5.0,52,23.0,NaN,15
3,11/28/2015,Drake,62,83,23.0,31,4.0,10.0,30,34.0,5.0,18
4,12/2/2015,DePaul,55,82,20.0,29,2.0,NaN,31,36.0,12.0,19

In [6]:
#Assign column headers
df2016 = pd.read_csv('UIC2016Basketball.csv')

df2016.columns =['Date','Opponent','UIC_Score','Opp_Score','UIC Field Goal Percentage', 'Opp Field Goal Percentage','UIC 3 point Field Goal Percentage', 'Opp 3 point Field Goal Percentage', 'UIC Rebound', 'Opp Rebound', 'UIC Assists', 'Opp Assists']

df2016.head()

,Date,Opponent,UIC_Score,Opp_Score,UIC Field Goal Percentage,Opp Field Goal Percentage,UIC 3 point Field Goal Percentage,Opp 3 point Field Goal Percentage,UIC Rebound,Opp Rebound,UIC Assists,Opp Assists
0,11/13/2015,San Francisco,75,78,28.0,24,8.0,8.0,36,42.0,17.0,15
1,11/17/2015,Western Illinois,57,84,15.0,30,3.0,5.0,40,42.0,6.0,16
2,11/24/2015,Roosevelt,96,58,35.0,22,1.0,5.0,52,23.0,NaN,15
3,11/28/2015,Drake,62,83,23.0,31,4.0,10.0,30,34.0,5.0,18
4,12/2/2015,DePaul,55,82,20.0,29,2.0,NaN,31,36.0,12.0,19

In [7]:
#Fill the missing data cell with a hyphen sympol ‘-‘. 
df2016.fillna('-')

,Date,Opponent,UIC_Score,Opp_Score,UIC Field Goal Percentage,Opp Field Goal Percentage,UIC 3 point Field Goal Percentage,Opp 3 point Field Goal Percentage,UIC Rebound,Opp Rebound,UIC Assists,Opp Assists
0,11/13/2015,San Francisco,75,78,28,24,8,8,36,42,17,15
1,11/17/2015,Western Illinois,57,84,15,30,3,5,40,42,6,16
2,11/24/2015,Roosevelt,96,58,35,22,1,5,52,23,-,15
3,11/28/2015,Drake,62,83,23,31,4,10,30,34,5,18
4,12/2/2015,DePaul,55,82,20,29,2,-,31,36,12,19
5,12/5/2015,UCF,58,88,22,26,4,7,43,32,10,14
6,12/12/2015,Illinois,79,83,-,25,9,9,38,25,18,18
7,12/16/2015,Illinois State,60,72,17,25,7,2,31,43,15,14
8,12/19/2015,Loyola (IL),47,64,18,20,5,4,32,29,7,9
9,12/22/2015,Purdue Calumet,91,72,30,26,10,8,36,-,21,18
10,12/29/2015,Northern Illinois,65,70,20,22,4,8,30,33,18,19
11,1/2/2016,Valparaiso,47,75,18,25,2,8,28,39,11,12
12,1/8/2016,Detroit,69,87,21,26,2,4,35,32,6,10
13,1/10/2016,Oakland,61,86,21,25,-,4,32,30,10,11
14,1/14/2016,Green Bay,76,78,29,29,5,4,33,40,20,19
15,1/16/2016,Milwaukee,62,87,21,31,4,8,29,32,11,24
16,1/18/2016,Cleveland State,53,70,20,23,2,9,36,37,6,15
17,1/22/2016,Northern Kentucky,69,82,23,25,1,9,36,34,3,14
18,1/24/2016,Wright State,66,80,22,29,2,9,36,25,-,14
19,1/28/2016,Youngstown State,78,82,-,29,5,14,49,37,16,21
20,1/30/2016,Cleveland State,72,70,21,26,4,4,35,34,13,16
21,2/6/2016,Valparaiso,55,73,19,28,2,7,28,40,8,20
22,2/11/2016,Wright State,64,59,22,21,5,6,40,30,13,14
23,2/13/2016,Northern Kentucky,79,77,24,27,7,9,45,30,13,16
24,2/16/2016,Youngstown State,91,92,38,35,6,5,60,45,12,11
25,2/19/2016,Detroit,72,83,24,27,4,7,34,36,9,19
26,2/21/2016,Oakland,63,74,24,28,3,7,42,44,12,16
27,2/26/2016,Green Bay,69,85,22,30,6,9,31,44,7,17
28,2/28/2016,Milwaukee,85,98,30,30,9,15,36,39,13,25
29,3/5/2016,Wright State,43,74,12,29,2,14,39,39,5,20

In [8]:
#What are the data types used in this data frame? 
df2016.dtypes

Date                                  object
Opponent                              object
UIC_Score                              int64
Opp_Score                              int64
UIC Field Goal Percentage            float64
Opp Field Goal Percentage              int64
UIC 3 point Field Goal Percentage    float64
Opp 3 point Field Goal Percentage    float64
UIC Rebound                            int64
Opp Rebound                          float64
UIC Assists                          float64
Opp Assists                            int64
dtype: object

In [10]:
#How many school opponents did Men’s Basketball played in 2016?
opp= df2016.groupby(['Opponent']).count()
for row in opp.index:
    print(row, end="\n")
print("Number of school opponents: ", len(opp.index))

Cleveland State
DePaul
Detroit
Drake
Green Bay
Illinois
Illinois State
Loyola (IL)
Milwaukee
Northern Illinois
Northern Kentucky
Oakland
Purdue Calumet
Roosevelt
San Francisco
UCF
Valparaiso
Western Illinois
Wright State
Youngstown State
Number of school opponents:  20

In [14]:
#List all the games that UIC scored more than 65 points
UIC65=df2016.query('UIC_Score > 65')
UIC65[['Date','Opponent', 'UIC_Score']]

          Date           Opponent  UIC_Score
0   11/13/2015      San Francisco         75
2   11/24/2015          Roosevelt         96
6   12/12/2015           Illinois         79
9   12/22/2015     Purdue Calumet         91
12    1/8/2016            Detroit         69
14   1/14/2016          Green Bay         76
17   1/22/2016  Northern Kentucky         69
18   1/24/2016       Wright State         66
19   1/28/2016   Youngstown State         78
20   1/30/2016    Cleveland State         72
23   2/13/2016  Northern Kentucky         79
24   2/16/2016   Youngstown State         91
25   2/19/2016            Detroit         72
27   2/26/2016          Green Bay         69
28   2/28/2016          Milwaukee         85

In [12]:
 # Calculate numbers of games of Wins, Losses, and Ties

win=df2016.query('UIC_Score > Opp_Score')
loss=df2016.query('UIC_Score < Opp_Score')
tie= df2016.query('UIC_Score == Opp_Score')

print("WINS")
print(win[['Opponent', 'UIC_Score', 'Opp_Score']])
print("")
print("Number of WINS: ", len(win.index))

print("---------------------------------------------")
print("LOSSES")
print(loss[['Opponent', 'UIC_Score', 'Opp_Score']])
print("")
print("Number of LOSSES: ", len(loss.index))


print("---------------------------------------------")
print("TIES")
print(tie[['Opponent', 'UIC_Score', 'Opp_Score']])
print("")
print("Number of TIES: ", len(tie.index))

WINS
             Opponent  UIC_Score  Opp_Score
2           Roosevelt         96         58
9      Purdue Calumet         91         72
20    Cleveland State         72         70
22       Wright State         64         59
23  Northern Kentucky         79         77

Number of WINS:  5
---------------------------------------------
LOSSES
             Opponent  UIC_Score  Opp_Score
0       San Francisco         75         78
1    Western Illinois         57         84
3               Drake         62         83
4              DePaul         55         82
5                 UCF         58         88
6            Illinois         79         83
7      Illinois State         60         72
8         Loyola (IL)         47         64
10  Northern Illinois         65         70
11         Valparaiso         47         75
12            Detroit         69         87
13            Oakland         61         86
14          Green Bay         76         78
15          Milwaukee         62         87
16    Cleveland State         53         70
17  Northern Kentucky         69         82
18       Wright State         66         80
19   Youngstown State         78         82
21         Valparaiso         55         73
24   Youngstown State         91         92
25            Detroit         72         83
26            Oakland         63         74
27          Green Bay         69         85
28          Milwaukee         85         98
29       Wright State         43         74

Number of LOSSES:  25
---------------------------------------------
TIES
Empty DataFrame
Columns: [Opponent, UIC_Score, Opp_Score]
Index: []

Number of TIES:  0